<p id="notice"><%= notice %></p>

<p>
  <strong>Doctorname:</strong>
  <%= @doctor.DoctorName %>
</p>

<p>
  <strong>Specialization:</strong>
  <%= @doctor.Specialization %>
</p>

<p>
  <strong>Hospitalname:</strong>
  <%= @doctor.HospitalName %>
</p>

<p>
  <strong>Adate:</strong>
  <%= @doctor.ADate %>
</p>
<h2>Bookings</h2>
<% @doctor.bookings.each do |booking| %>
<p>
<b>Booking Timings:</b>

</p>
<% end %>
<%= link_to 'Edit Doctor', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctor_path %> |
<%= link_to 'Show Bookings', doctor_bookings_path(@doctor) %>
